<p>databinding works!</p>
<section class="contentinternal">
    <h2>Property & Class Binding</h2>
    <img class="img-book" [src] = "book.imagen" />
    <p>
        <strong>Titulo: </strong>{{ book.titulo }}
    </p>
    <p>
        <strong>Autor: </strong>{{ book.autor }}
    </p>
    <p [class.aviso]="book.stock == 0">
        <strong>Unidades disponibles: </strong>{{ book.stock }}
    </p>
    <p>
        <strong>Precio: </strong>{{ book.precio | currency:'EUR':'symbol' }}
    </p>
</section>
<section class="contentinternal" (mousemove)="getCoordenadas($event);">
    <h2>Event Binding y $event && FormsModule [(ngModel)]</h2>
    <button [disabled]="book.cantidad <= 0" (click)="downCantidad();">-</button>
    <input type="number" size="2" (keyup)="eventKeyup($event)" [(ngModel)]="book.cantidad" [disabled]="stateCantidad" />
    <button [disabled]="book.cantidad >= book.stock" (click)="upCantidad();">+</button>
</section>