<p>databinding works!</p>
<section class="contentinternal">
    <h2>Property & Class Binding</h2>
    <img class="img-book" [src] = "book.imagen" />
    <p>
        <strong>Titulo: </strong>{{ book.titulo }}
    </p>
    <p>
        <strong>Autor: </strong>{{ book.autor }}
    </p>
    <p [class.aviso]="book.stock == 0">
        <strong>Unidades disponibles: </strong>{{ book.stock }}
    </p>
    <p>
        <strong>Precio: </strong>{{ book.precio | currency:'EUR':'symbol' }}
    </p>
</section>