<nav>
    <ul class="nav">
        <li class="nav-item"><a [routerLink]="['/ngfor']" routerLinkActive="active-link">ngfor</a></li> | 
        <li class="nav-item"><a [routerLink]="['/databinding']" routerLinkActive="active-link">databinding</a></li> |
        <li class="nav-item"><a [routerLink]="['/modelone']" routerLinkActive="active-link">modelone</a></li> |
        <li class="nav-item"><a [routerLink]="['/httpparalelo']" routerLinkActive="active-link">httpparalelo</a></li>
    </ul>
</nav>
<h1>Hi from Angular</h1>
<div class="content">
    <router-outlet></router-outlet>
</div>
